# dependencies
node_modules

# env
.env

# attachments / local storage
storage

# prisma generated
.prisma

# logs
npm-debug.log*

# tesseract cache and duplicate files
.tesseract-cache
*.traineddata
!tessdata/*.traineddata
